<div th:replace="shared/header"></div>
<div th:replace="shared/sidebar"></div>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Update Student Details</h2>
            <form action="#" th:action="@{/student}" method="post" th:object="${student}">
        <div class="form-row">
            <div class="col-md-6 form-group">
                <label>RollNo</label>
                <input type="text" class="form-control" th:field="*{rollNo}" th:required="required"/>
            </div>
            <div class="col-md-6 form-group">
                <label>Name</label>
                <input type="text" class="form-control" th:field="*{name}" th:required="required" />
            </div>
            <div class="col-md-6 form-group">
                <label>Phone</label>
                <input type="text" class="form-control" name ="" />
            </div>
            <div class="col-md-6 form-group">
                <label>Department</label>
                <select class="form-control" th:field="*{department}" th:required="required">
                    <option value="">Choose...</option>
                    <option value="Mechanical">Mechanical</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label>First Mid Question-1</label>
                <input type="number" step="any" class="form-control" th:field="*{qone}" th:required="required">
            </div>

            <div class="col-md-6 form-group">
                <label>First Mid Question-2</label>
                <input type="number" class="form-control" th:field="*{qtwo}" th:required="required"/>
            </div>
            <div class="col-md-6 form-group">
                <label>First Mid Question-3</label>
                <input type="number" class="form-control" th:field="*{qthree}" th:required="required"/>
            </div>
            <div class="col-md-6 form-group">
                <label>Second Mid Question-1</label>
                <input type="number" class="form-control" th:field="*{qfour}" th:required="required"/>
            </div>
            <div class="col-md-6 form-group">
                <label>Second Mid Question-2</label>
                <input type="number" class="form-control" th:field="*{qfive}" th:required="required"/>
            </div>
            <div class="col-md-6 form-group">
                <label>Second Mid Question-3</label>
                <input type="number" class="form-control" th:field="*{qsix}" th:required="required"/>
            </div>
        </div>
        <input type="hidden" th:field="*{id}">
        <button type="submit" class="btn btn-primary btn-block mt-3">Update</button>
    </form>
        </div>
    </div>
</div>
<div th:replace="shared/footer"></div>