<div th:replace="shared/header"></div>
<div th:replace="shared/sidebar"></div>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Student Registration</h2>
            <form action="/student" method="post">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label>RollNo</label>
                        <input type="text" class="form-control" name ="rollNo" th:required="required"/>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name ="name" th:required="required" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" name =""/>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Department</label>
                        <select class="form-control" name="department" th:required="required">
                            <option value="">Choose...</option>
                            <option value="Mechanical">Mechanical</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>First Mid Question-1</label>
                        <input type="number" step="any" class="form-control" name="qone" th:required="required">
                    </div>

                    <div class="col-md-6 form-group">
                        <label>First Mid Question-2</label>
                        <input type="number" class="form-control" name ="qtwo" th:required="required"/>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>First Mid Question-3</label>
                        <input type="number" class="form-control" name ="qthree" th:required="required"/>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Second Mid Question-1</label>
                        <input type="number" class="form-control" name ="qfour" th:required="required"/>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Second Mid Question-2</label>
                        <input type="number" class="form-control" name ="qfive" th:required="required"/>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Second Mid Question-3</label>
                        <input type="number" class="form-control" name ="qsix" th:required="required"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="shared/footer"></div>