<div th:replace="shared/header"></div>
<div class="container">
    <form action="/student" method="post">
        <table style="margin-left: auto;margin-right: auto;">
            <tr>
                <td style="padding-right: 200px">
                    <div class="form-group">
                        <label>RollNo</label>
                        <input type="text" class="form-control"
                               name ="rollNo" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control"
                               name ="name" />
                    </div>
                </td>
            </tr>
<tr>
    <td style="padding-right: 200px">
        <div class="form-group">
            <label>Department</label>
            <input type="text" class="form-control" name ="department" />
        </div>
    </td>
    <td>
        <div class="form-group">
            <label>First Mid Question-1</label>
            <input type="text" class="form-control" name ="qone" />
        </div>
    </td>
</tr>
<tr>
    <td style="padding-right: 200px">
        <div class="form-group">
            <label>First Mid Question-2</label>
            <input type="text" class="form-control" name ="qtwo" />
        </div>
    </td>
    <td>
        <div class="form-group">
            <label>First Mid Question-3</label>
            <input type="text" class="form-control" name ="qthree" />
        </div>
    </td>
</tr>
       <tr>
           <td style="padding-right: 200px">
               <div class="form-group">
                   <label>Second Mid Question-1</label>
                   <input type="text" class="form-control" name ="qfour" />
               </div>
           </td>
           <td>
               <div class="form-group">
                   <label>Second Mid Question-1</label>
                   <input type="text" class="form-control" name ="qfour" />
               </div>
           </td>
       </tr>
            <tr>
                <td style="padding-right: 200px">
                    <div class="form-group">
                        <label>Second Mid Question-2</label>
                        <input type="text" class="form-control" name ="qfive" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Second Mid Question-3</label>
                        <input type="text" class="form-control" name ="qsix" />
                    </div>
                </td>
            </tr>
        <div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/"> <span class="btn btn-default">Back</span></a>
        </div>
        </table>
    </form>
</div>
<div th:replace="shared/footer"></div>